@page "/blocks/pagination-1"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="px-6">
            <SfPager CssClass="border-0 bg-transparent">
                <Template>
                    <div class="!flex gap-5 xl:gap-3">
                        <SfButton CssClass="sm:hidden" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <SfButton CssClass="hidden sm:inline-block" IconCss="e-icons e-chevron-left" Content="PREVIOUS" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <span class="e-btn-group">
                            <SfButton Content="1" Type="button" aria-label="go to page 1" role="button"></SfButton>
                            <SfButton Content="2" CssClass="e-secondary e-active" Type="button" aria-label="go to page 2" role="button"></SfButton>
                            <SfButton CssClass="hidden sm:inline-block" Content="3" Type="button" aria-label="go to page 3" role="button"></SfButton>
                            <SfButton Content="..." Type="button" aria-label="more pages" role="button"></SfButton>
                            <SfButton CssClass="hidden sm:inline-block" Content="79" Type="button" aria-label="go to page 79" role="button"></SfButton>
                            <SfButton Content="80" Type="button" aria-label="go to page 80" role="button"></SfButton>
                        </span>
                        <SfButton CssClass="hidden sm:inline-block" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Content="NEXT" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <SfButton CssClass="sm:hidden" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Type="button" aria-label="go to next page" role="button"></SfButton>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="px-4">
            <SfPager CssClass="border-0 px-0">
                <Template>
                    <div class="d-flex gap-2">
                        <SfButton CssClass="e-outline d-sm-none" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <SfButton CssClass="e-outline d-none d-sm-inline-block" IconCss="e-icons e-chevron-left" Content="PREVIOUS" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <span class="e-btn-group shadow-none mx-1">
                            <SfButton CssClass="e-flat" Content="1" Type="button" aria-label="go to page 1" role="button"></SfButton>
                            <SfButton CssClass="e-secondary" Content="2" Type="button" aria-label="go to page 2" role="button"></SfButton>
                            <SfButton CssClass="e-flat d-none d-sm-inline-block" Content="3" Type="button" aria-label="go to page 3" role="button"></SfButton>
                            <SfButton CssClass="e-flat" Content="..." Type="button" aria-label="more pages" role="button"></SfButton>
                            <SfButton CssClass="e-flat d-none d-sm-inline-block" Content="79" Type="button" aria-label="go to page 79" role="button"></SfButton>
                            <SfButton CssClass="e-flat" Content="80" Type="button" aria-label="go to page 80" role="button"></SfButton>
                        </span>
                        <SfButton CssClass="e-outline d-none d-sm-inline-block" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Content="NEXT" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <SfButton CssClass="e-outline d-sm-none" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Type="button" aria-label="go to next page" role="button"></SfButton>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}

