@page "/footer"
@namespace UI_Blocks.Components.Pages.MainSection

<div class="footer-content" role="contentinfo">
    <div>
        Copyright &copy; 2001 - @DateTime.Now.Year Syncfusion, Inc. All Rights Reserved
    </div>
    <div class="footer-right">
        <a href="https://www.syncfusion.com/privacy" target="_blank" class="policy-link" aria-label="Syncfusion Privacy Policy" tabindex="0">
            Privacy Policy
        </a>
        <a href="https://blazor.syncfusion.com/documentation/ui-kit/overview" target="_blank" class="document-link" aria-label="Documentation for Essential Studio UI Kit (Blazor)" tabindex="0">
            Documentation
        </a>
    </div>
</div>
