@page "/blocks/cards-9"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-950">
        <div class="py-20 px-4 sm:px-6" style="min-height: 36rem;">
            <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-10">
                <div class="e-card e-bigger rounded-lg pt-6 pb-2 justify-start">
                    <div class="e-card-content">
                        <h1 class="text-xl font-semibold text-gray-900 dark:text-white truncate">Enchanting Forests</h1>
                        <p class="mt-3 mb-2 text-base">Wander through lush, green forests where towering trees and vibrant wildlife await. Discover serene trails, picturesque streams, and the calming sounds of nature.</p>
                    </div>
                    <div class="e-card-header items-center">
                        <span class="e-avatar e-avatar-circle e-avatar-large" style="background-image: url(assets/images/common/avatar/avatar-6.jpg);"></span>
                        <div class="e-card-header-caption !pl-3">
                            <div class="e-card-header-title">
                                <p class="text-lg font-semibold text-gray-900 dark:text-white truncate">John Wick</p>
                            </div>
                            <div class="e-card-sub-title">
                                <p class="text-sm text-gray-700 dark:text-gray-300 truncate">Content Writer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="e-card e-bigger rounded-lg pt-6 pb-2 justify-start">
                    <div class="e-card-content">
                        <h1 class="text-xl font-semibold text-gray-900 dark:text-white truncate">Sunny Islands</h1>
                        <p class="mt-3 mb-2 text-base">Escape to idyllic islands where turquoise waters and sandy beaches create a tropical paradise. Enjoy water sports, beach lounging, and local cuisine while soaking up the sun.</p>
                    </div>
                    <div class="e-card-header items-center">
                        <span class="e-avatar e-avatar-circle e-avatar-large" style="background-image: url(assets/images/common/avatar/avatar-3.jpg);"></span>
                        <div class="e-card-header-caption !pl-3">
                            <div class="e-card-header-title">
                                <p class="text-lg font-semibold text-gray-900 dark:text-white truncate">Adam Smith</p>
                            </div>
                            <div class="e-card-sub-title">
                                <p class="text-sm text-gray-700 dark:text-gray-300 truncate">Script Writer</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="e-card e-bigger rounded-lg pt-6 pb-2 justify-start">
                    <div class="e-card-content">
                        <h1 class="text-xl font-semibold text-gray-900 dark:text-white truncate">Cultural Capitals</h1>
                        <p class="mt-3 mb-2 text-base">Dive into the rich cultural tapestry of world-renowned cities.Explore museums, historical sites, and vibrant neighborhoods that offer a deep dive into art, history.</p>
                    </div>
                    <div class="e-card-header items-center">
                        <span class="e-avatar e-avatar-circle e-avatar-large" style="background-image: url(assets/images/common/avatar/avatar-2.jpg);"></span>
                        <div class="e-card-header-caption !pl-3">
                            <div class="e-card-header-title">
                                <p class="text-lg font-semibold text-gray-900 dark:text-white truncate">Levi Ackerman</p>
                            </div>
                            <div class="e-card-sub-title">
                                <p class="text-sm text-gray-700 dark:text-gray-300 truncate">Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-dark-subtle">
        <div class="px-3 px-sm-4 py-5" style="min-height: 36rem;">
            <div class="row g-xl-5 g-4">
                <div class="col-sm-6 col-lg-4">
                    <div class="e-card e-bigger shadow p-2 h-100 justify-content-start">
                        <div class="e-card-content">
                            <h1 class="fs-5 fw-bolder text-truncate">Enchanting Forests</h1>
                            <p class="fs-6 mb-2">Wander through lush, green forests where towering trees and vibrant wildlife await. Discover serene trails, picturesque streams, and the calming sounds of nature.</p>
                        </div>
                        <div class="e-card-header align-items-center mb-2">
                            <span class="e-avatar e-avatar-large e-avatar-circle" style="background-image: url(assets/images/common/avatar/avatar-6.jpg);"></span>
                            <div class="e-card-header-caption">
                                <div class="e-card-header-title text-body">
                                    <p class="h6 fw-bold mb-0 text-truncate">John Wick</p>
                                </div>
                                <div class="e-card-sub-title text-body-secondary pt-0">
                                    <p class="small mb-0 text-truncate">Content Creator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="e-card e-bigger shadow p-2 h-100 justify-content-start">
                        <div class="e-card-content">
                            <h1 class="fs-5 fw-bolder text-truncate">Sunny Islands</h1>
                            <p class="fs-6 mb-2">Escape to idyllic islands where turquoise waters and sandy beaches create a tropical paradise. Enjoy water sports, beach lounging, and local cuisine while soaking up the sun.</p>
                        </div>
                        <div class="e-card-header align-items-center mb-2">
                            <span class="e-avatar e-avatar-large e-avatar-circle" style="background-image: url(assets/images/common/avatar/avatar-3.jpg);"></span>
                            <div class="e-card-header-caption">
                                <div class="e-card-header-title text-body">
                                    <p class="h6 fw-bold mb-0 text-truncate">Adam Smith</p>
                                </div>
                                <div class="e-card-sub-title text-body-secondary pt-0">
                                    <p class="small mb-0 text-truncate">Script Writer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="e-card e-bigger shadow p-2 h-100 justify-content-start">
                        <div class="e-card-content">
                            <h1 class="fs-5 fw-bolder text-truncate">Cultural Capitals</h1>
                            <p class="fs-6 mb-2">Dive into the rich cultural tapestry of world-renowned cities. Explore museums, historical sites, and vibrant neighborhoods that offer a deep dive into art, history.</p>
                        </div>
                        <div class="e-card-header align-items-center mb-2">
                            <span class="e-avatar e-avatar-large e-avatar-circle" style="background-image: url(assets/images/common/avatar/avatar-2.jpg);"></span>
                            <div class="e-card-header-caption">
                                <div class="e-card-header-title text-body">
                                    <p class="h6 fw-bold mb-0 text-truncate">Levi Ackerman</p>
                                </div>
                                <div class="e-card-sub-title text-body-secondary pt-0">
                                    <p class="small mb-0 text-truncate">Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
