::deep #chat-sidepanel .e-list-item {
    border: none !important;
    height: auto !important;
    padding: 8px !important;
    background-color: transparent !important;
}

::deep #chat-sidepanel .e-listview .e-list-item.e-active,
::deep #chat-sidepanel .e-list-item:hover,
::deep #chat-sidepanel .e-list-item:active {
    background-color: transparent !important;
}

::deep #chat-sidepanel .e-listview {
    border: none !important;
    background: transparent !important;
}

::deep #chat-sidepanel .listview-template {
    border: none !important;
}