@page "/blocks/footer-1"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-900">
        <footer class="p-4 flex flex-col gap-6 sm:flex-row flex-wrap justify-between sm:items-center sm:px-6 xl:px-10">
            <div class="flex items-center gap-2.5 pt-2 sm:pb-2 text-gray-900 dark:text-gray-50">
                <img class="size-7" src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                <span class="text-xl font-semibold">Company Name</span>
            </div>
            <div class="flex flex-col items-start gap-4 sm:flex-row sm:gap-3">
                <a href="javascript:void(0);" class="text-base lg:text-sm font-medium py-1 text-primary-600 hover:underline dark:text-primary-400" aria-label="go to privacy policy">Privacy Policy</a>
                <div class="border self-stretch my-1 hidden dark:border-gray-600 sm:block"></div>
                <a href="javascript:void(0);" class="text-base lg:text-sm font-medium py-1 text-primary-600 hover:underline dark:text-primary-400" aria-label="go to cookie policy">Cookie Policy</a>
                <div class="border self-stretch my-1 hidden dark:border-gray-600 sm:block"></div>
                <a href="javascript:void(0);" class="text-base lg:text-sm font-medium py-1 text-primary-600 hover:underline dark:text-primary-400" aria-label="go to terms of service">Terms of Service</a>
            </div>
            <div class="text-gray-500 dark:text-gray-400 text-sm">© 2024 Company Name. All rights reserved.</div>
        </footer>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <footer class="p-3 px-sm-4 px-lg-5 d-flex flex-column gap-3 gap-sm-4 flex-sm-row flex-wrap justify-content-between align-items-sm-center">
            <div class="d-flex align-items-center gap-2">
                <img class="img-fluid" src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                <h5 class="mb-0 text-body">Company Name</h5>
            </div>
            <div class="d-flex flex-column align-items-start justify-content-center gap-3 gap-sm-2 flex-sm-row">
                <a href="javascript:void(0);" class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover fw-medium small px-sm-2" aria-label="go to privacy policy">Privacy Policy</a>
                <div class="border align-self-stretch border-light-subtle d-none d-sm-block"></div>
                <a href="javascript:void(0);" class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover fw-medium small" aria-label="go to cookie policy">Cookie Policy</a>
                <div class="border align-self-stretch border-light-subtle d-none d-sm-block"></div>
                <a href="javascript:void(0);" class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover fw-medium small px-sm-2" aria-label="go to terms of service">Terms of Service</a>
            </div>
            <p class="text-body-secondary mt-2 mt-sm-0 mb-0">© 2024 Company Name. All rights reserved.</p>
        </footer>
    </section>
}

