::deep .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon::before {
    content: "\e754";
    font-family: "e-icons";
    font-size: 16px;
    transform: rotate(0deg);
}

::deep .e-ddl.e-input-group.e-control-wrapper .e-ddl-icon {
    border-left: 0 !important;
}