@page "/blocks/pagination-6"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="px-6">
            <SfPager CssClass="border-t-0 border-x-0 px-0 py-2 bg-transparent">
                <Template>
                    <div class="!flex justify-end gap-3 sm:gap-4">
                        <SfButton CssClass="e-flat rounded-none" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <SfDropDownButton CssClass="e-outline" Content="20" Type="button" aria-label="choose the page number" role="dropdown button"></SfDropDownButton>
                        <SfButton CssClass="e-flat rounded-none" IconCss="e-icons e-chevron-right" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <div class="border-s border-gray-200 dark:border-gray-600 leading-6"></div>
                        <div>
                            <SfDropDownButton CssClass="e-outline" IconCss="e-icons e-properties-2" Type="button" aria-label="choose more options" role="dropdown button"></SfDropDownButton>
                            <SfButton CssClass="e-outline ml-2" IconCss="e-icons e-filter" Type="button" aria-label="filter options" role="button"></SfButton>
                        </div>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="px-4">
            <SfPager CssClass="border-top-0 border-start-0 border-end-0 py-2 px-0">
                <Template>
                    <div class="d-flex justify-content-end gap-2">
                        <SfButton CssClass="e-flat rounded-0" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <SfDropDownButton CssClass="e-outline mx-1" Content="20" Type="button" aria-label="choose the page number" role="dropdown button"></SfDropDownButton>
                        <SfButton CssClass="e-flat rounded-0" IconCss="e-icons e-chevron-right" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <div class="border-start border-secondary lh-lg mx-1 mx-sm-2"></div>
                        <SfDropDownButton CssClass="e-outline" IconCss="e-icons e-properties-2" Type="button" aria-label="choose more options" role="dropdown button"></SfDropDownButton>
                        <SfButton CssClass="e-outline ms-1 ms-sm-2" IconCss="e-icons e-filter" Type="button" aria-label="filter options" role="button"></SfButton>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}

