@page "/blocks/pagination-3"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="px-6">
            <SfPager CssClass="border-t-0 border-x-0 px-0 py-2 bg-transparent">
                <Template>
                    <div class="!flex items-center text-lg gap-2 sm:gap-4 font-medium text-gray-700 dark:text-gray-300">
                        <SfButton CssClass="e-flat lg:hidden" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button" Disabled></SfButton>
                        <SfButton CssClass="e-flat hidden lg:inline-block" IconCss="e-icons e-chevron-left" Content="Previous" Type="button" aria-label="go to previous page" role="button" Disabled></SfButton>
                        <span>
                            <SfButton CssClass="e-round e-primary" Type="button" Content="1" aria-label="go to page 1" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round" Content="2" Type="button" aria-label="go to page 2" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round" Content="3" Type="button" aria-label="go to page 3" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round hidden xl:inline-block" Content="4" Type="button" aria-label="go to page 4" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round hidden xl:inline-block" Content="5" Type="button" aria-label="go to page 5" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round hidden xl:inline-block" Content="6" Type="button" aria-label="go to page 6" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round hidden xl:inline-block" Content="7" Type="button" aria-label="go to page 7" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round hidden xl:inline-block" Content="8" Type="button" aria-label="go to page 8" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round" Content="..." Type="button" aria-label="more pages" role="button"></SfButton>
                        </span>
                        <SfButton CssClass="e-flat hidden lg:inline-block" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Content="Next" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <SfButton CssClass="e-flat lg:hidden" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <SfDropDownButton CssClass="e-outline" Content="20" Type="button" aria-label="choose the page number" role="button"></SfDropDownButton>
                        <span class="md:flex justify-content grow hidden px-2 text-sm">
                            <p class="grow">Items per page</p>
                            <p>1 of 70 pages <span class="hidden lg:inline">(830 items)</span></p>
                        </span>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="px-4">
            <SfPager CssClass="border-top-0 border-start-0 border-end-0 py-2 px-0">
                <Template>
                    <div class="d-flex align-items-center gap-2 fs-6 text-body">
                        <SfButton CssClass="e-flat d-lg-none" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button" Disabled></SfButton>
                        <SfButton CssClass="e-flat d-none d-lg-inline-block" IconCss="e-icons e-chevron-left" Content="Previous" Type="button" aria-label="go to previous page" role="button" Disabled></SfButton>
                        <span class="mx-1">
                            <SfButton CssClass="e-round e-primary" Content="1" Type="button" aria-label="go to page 1" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round" Content="2" Type="button" aria-label="go to page 2" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round" Content="3" Type="button" aria-label="go to page 3" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round d-none d-xl-inline-block" Content="4" Type="button" aria-label="go to page 4" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round d-none d-xl-inline-block" Content="5" Type="button" aria-label="go to page 5" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round d-none d-xl-inline-block" Content="6" Type="button" aria-label="go to page 6" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round d-none d-xl-inline-block" Content="7" Type="button" aria-label="go to page 7" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round d-none d-xl-inline-block" Content="8" Type="button" aria-label="go to page 8" role="button"></SfButton>
                            <SfButton CssClass="e-flat e-round" Content="..." Type="button" aria-label="more pages" role="button"></SfButton>
                        </span>
                        <SfButton CssClass="e-flat d-none d-lg-inline-block" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Content="Next" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <SfButton CssClass="e-flat d-lg-none" IconCss="e-icons e-chevron-right" IconPosition="IconPosition.Right" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <SfDropDownButton CssClass="e-outline ms-2" Content="20" Type="button" aria-label="choose the page number" role="button"></SfDropDownButton>
                        <span class="d-none d-md-flex justify-content-between flex-grow-1 ms-1">
                            <p class="flex-grow-1 mb-0">Items per page</p>
                            <p class="mb-0">1 of 70 pages <span class="d-none d-lg-inline">(830 items)</span></p>
                        </span>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}

