@page "/blocks/pagination-4"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-white dark:bg-gray-900">
        <div class="px-6">
            <SfPager CssClass="border-t-0 border-x-0 px-0 py-2 bg-transparent">
                <Template>
                    <div class="!flex items-center gap-2 text-sm font-medium text-gray-700 dark:text-gray-300">
                        <SfButton CssClass="e-flat" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <span class="px-4">Page</span>
                        <SfTextBox CssClass="e-outline" Value="2" Width="68px" aria-label="enter the page number" role="textbox"></SfTextBox>
                        <span class="px-2">of 218</span>
                        <SfButton CssClass="e-flat" IconCss="e-icons e-chevron-right" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <div class="sm:!flex !hidden items-center ml-auto space-x-4">
                            <span>Items per page</span>
                            <SfDropDownButton CssClass="e-outline leading-6" Content="2" Type="button" aria-label="choose the page number" role="button"></SfDropDownButton>
                        </div>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body">
        <div class="px-4">
            <SfPager CssClass="border-top-0 border-start-0 border-end-0 py-2 px-0">
                <Template>
                    <div class="d-flex align-items-center gap-2 fs-6 text-body">
                        <SfButton CssClass="e-flat" IconCss="e-icons e-chevron-left" Type="button" aria-label="go to previous page" role="button"></SfButton>
                        <span class="ms-1">Page</span>
                        <SfTextBox Value="2" Width="68px" aria-label="enter the page number" role="textbox"></SfTextBox>
                        <span class="me-1">of 218</span>
                        <SfButton CssClass="e-flat" IconCss="e-icons e-chevron-right" Type="button" aria-label="go to next page" role="button"></SfButton>
                        <div class="d-none d-sm-flex align-items-center ms-auto gap-2">
                            <span>Items per page</span>
                            <SfDropDownButton CssClass="e-outline" Content="2" Type="button" aria-label="choose the page number" role="button"></SfDropDownButton>
                        </div>
                    </div>
                </Template>
            </SfPager>
        </div>
    </section>
}

