@page "/blocks/rating-2"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-800">
        <div class="pt-4" style="min-height:36rem">
            <div class="mt-4 p-4 mx-auto max-w-sm border-0 sm:rounded-lg sm:border rounded-none border-gray-300 dark:border-gray-500 bg-white dark:bg-gray-800 flex flex-col justify-center items-center">
                <img class="h-10 w-9" src="assets/images/common/brand-logos/svg/vector.svg" alt="logo" />
                <div class="flex justify-center items-center ml-2">
                    <SfRating Value="4.0" ShowLabel="true" Precision="PrecisionType.Exact">
                        <EmptyTemplate>
                            <span class="sf-icon-star-filled-01 text-2xl text-gray-300 dark:text-gray-500"></span>
                        </EmptyTemplate>
                        <FullTemplate>
                            <span class="sf-icon-star-filled-01 text-2xl text-amber-300"></span>
                        </FullTemplate>
                        <LabelTemplate Context="data">
                            <p class="!text-gray-900 dark:!text-white text-sm font-medium">@($"{data.ToString("0.0")} / 5.0")</p>
                        </LabelTemplate>
                    </SfRating>
                </div>
                <p class="text-sm text-gray-500 dark:text-gray-400">based on 135 ratings</p>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-body-tertiary">
        <div class="pt-4" style="min-height: 36rem;">
            <div class="mt-4 p-3 mx-auto rounded-3 border d-flex flex-column justify-content-center align-items-center bg-body" style="max-width: 384px;">
                <img src="assets/images/common/brand-logos/svg/vector.svg" alt="logo" style="height: 40px; width: 36px;" />
                <div class="mt-1 fs-6">
                    <SfRating Value="4.0" ShowLabel="true" Precision="PrecisionType.Exact">
                        <EmptyTemplate>
                            <span class="sf-icon-star-02 fs-4 text-body-secondary"></span>
                        </EmptyTemplate>
                        <FullTemplate>
                            <span class="sf-icon-star-filled-01 fs-4 text-warning"></span>
                        </FullTemplate>
                        <LabelTemplate Context="data">
                            <span class="fs-6">
                                <p class="text-body mb-0 small">@($"{data.ToString("0.0")} / 5.0")</p>
                            </span>
                        </LabelTemplate>
                    </SfRating>
                </div>
                <p class="small text-body-secondary mb-0">based on 135 ratings</p>
            </div>
        </div>
    </section>
}