::deep #plan-comparison .table th:first-child,
::deep #plan-comparison .table td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

::deep #plan-comparison .table thead th:first-child {
  z-index: 2;
}