@page "/blocks/cards-12"

@inherits UI_Blocks.Components.Pages.MainSection.Demo

@ThemeLinks

@if (CurrentTheme.Contains("tailwind"))
{
    <section class="bg-gray-50 dark:bg-gray-950">
        <div class="px-4 py-20 sm:px-6" style="min-height: 36rem;">
            <div class="grid gap-6 sm:gap-8 lg:grid-cols-3 sm:grid-cols-2 xl:gap-10">
                <div class="e-card rounded-lg gap-1 e-bigger justify-start">
                    <div class="e-card-content flex-1">
                        <span class="e-avatar e-avatar-large e-avatar-circle text-primary-600 bg-primary-100 mt-6 mb-5">
                            <i class="e-icons e-group-icon text-2xl"></i>
                        </span>
                        <h2 class="text-xl mb-3 font-semibold text-gray-950 dark:text-gray-50 line-clamp-2">Adventure Parks</h2>
                        <p class="text-base dark:text-gray-200">Dive into exhilarating experiences at adventure parks with thrilling rides, obstacle courses, and outdoor challenges. Perfect for families and adrenaline seekers.</p>
                    </div>
                    <div class="e-card-actions leading-9">
                        <div class="flex justify-between h-10">
                            <div class="relative">
                                <span class="e-avatar e-avatar-circle absolute" style="background-image: url(assets/images/common/avatar/avatar-5.jpg);"></span>
                                <span class="e-avatar e-avatar-circle absolute left-7" style="background-image: url(assets/images/common/avatar/avatar-13.jpg);"></span>
                                <span class="e-avatar e-avatar-circle bg-primary-600 text-white absolute left-14">2+</span>
                            </div>
                            <SfRating CssClass="e-small" Precision="PrecisionType.Exact" Value="3.5" />
                        </div>
                    </div>
                </div>
                <div class="e-card rounded-lg gap-1 e-bigger justify-start">
                    <div class="e-card-content flex-1">
                        <span class="e-avatar e-avatar-large e-avatar-circle text-primary-600 bg-primary-100 mt-6 mb-5">
                            <i class="e-icons e-group-icon text-2xl"></i>
                        </span>
                        <h2 class="text-xl mb-3 font-semibold text-gray-950 dark:text-gray-50 line-clamp-2">Urban Hotels</h2>
                        <p class="text-base dark:text-gray-200">Stay in style at sophisticated urban hotels offering top-notch amenities and exceptional service. Enjoy chic accommodations, fine dining, and convenient city access.</p>
                    </div>
                    <div class="e-card-actions leading-9">
                        <div class="flex justify-between h-10">
                            <div class="relative">
                                <span class="e-avatar e-avatar-circle absolute" style="background-image: url(assets/images/common/avatar/avatar-5.jpg);"></span>
                                <span class="e-avatar e-avatar-circle absolute left-7" style="background-image: url(assets/images/common/avatar/avatar-13.jpg);"></span>
                                <span class="e-avatar e-avatar-circle bg-primary-600 text-white absolute left-14">2+</span>
                            </div>
                            <SfRating CssClass="e-small" Precision="PrecisionType.Exact" Value="3.5" />
                        </div>
                    </div>
                </div>
                <div class="e-card rounded-lg gap-1 e-bigger justify-start">
                    <div class="e-card-content flex-1">
                        <span class="e-avatar e-avatar-large e-avatar-circle text-primary-600 bg-primary-100 mt-6 mb-5">
                            <i class="e-icons e-group-icon text-2xl"></i>
                        </span>
                        <h2 class="text-xl mb-3 font-semibold text-gray-950 dark:text-gray-50 line-clamp-2">Coastal Towns</h2>
                        <p class="text-base dark:text-gray-200">Explore picturesque coastal towns with charming streets, beautiful beaches, and vibrant local culture. Relax by the shore, enjoy fresh seafood, and take in the ocean views.</p>
                    </div>
                    <div class="e-card-actions leading-9">
                        <div class="flex justify-between h-10">
                            <div class="relative">
                                <span class="e-avatar e-avatar-circle absolute" style="background-image: url(assets/images/common/avatar/avatar-5.jpg);"></span>
                                <span class="e-avatar e-avatar-circle absolute left-7" style="background-image: url(assets/images/common/avatar/avatar-13.jpg);"></span>
                                <span class="e-avatar e-avatar-circle bg-primary-600 text-white absolute left-14">2+</span>
                            </div>
                            <SfRating CssClass="e-small" Precision="PrecisionType.Exact" Value="3.5" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (CurrentTheme.Contains("bootstrap5.3"))
{
    <section class="bg-dark-subtle">
        <div class="px-3 px-sm-4 py-5" style="min-height: 36rem;">
            <div class="row g-xl-5 g-4">
                <div class="col-sm-6 col-lg-4">
                    <div class="e-card e-bigger shadow h-100 p-2 justify-content-start">
                        <div class="e-card-content flex-1">
                            <span class="e-avatar e-avatar-large e-avatar-circle text-primary-emphasis bg-body-tertiary">
                                <i class="e-icons e-group-icon fs-5 fw-medium"></i>
                            </span>
                            <h2 class="fs-4 fw-bolder lh-sm text-truncate mt-3">Adventure Parks</h2>
                            <p class="fs-6 my-2">Dive into exhilarating experiences at adventure parks with thrilling rides, obstacle courses, and outdoor challenges. Perfect for families and adrenaline seekers.</p>
                        </div>
                        <div class="e-card-actions">
                            <div class="d-flex w-100 align-items-center justify-content-between flex-row">
                                <div class="position-relative px-5 py-4">
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute start-0 top-0" style="background-image: url(assets/images/common/avatar/avatar-5.jpg);"></span>
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute ms-4 start-0 top-0" style="background-image: url(assets/images/common/avatar/avatar-13.jpg);"></span>
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute ms-5 start-0 top-0 bg-primary text-white">2+</span>
                                </div>
                                <SfRating CssClass="e-small align-self-start" Precision="PrecisionType.Exact" Value="3.5" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="e-card e-bigger shadow h-100 p-2 justify-content-start">
                        <div class="e-card-content flex-1">
                            <span class="e-avatar e-avatar-large e-avatar-circle text-primary-emphasis bg-body-tertiary">
                                <i class="e-icons e-group-icon fs-5 fw-medium"></i>
                            </span>
                            <h2 class="fs-4 fw-bolder lh-sm text-truncate mt-3">Urban Hotels</h2>
                            <p class="fs-6 my-2">Stay in style at sophisticated urban hotels offering top-notch amenities and exceptional service. Enjoy chic accommodations, fine dining, and convenient.</p>
                        </div>
                        <div class="e-card-actions">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <div class="position-relative px-5 py-4">
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute start-0 top-0" style="background-image: url(assets/images/common/avatar/avatar-5.jpg);"></span>
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute ms-4 start-0 top-0" style="background-image: url(assets/images/common/avatar/avatar-13.jpg);"></span>
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute ms-5 start-0 top-0 bg-primary text-white">2+</span>
                                </div>
                                <SfRating CssClass="e-small align-self-start" Precision="PrecisionType.Exact" Value="3.5" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="e-card e-bigger shadow h-100 p-2 justify-content-start">
                        <div class="e-card-content flex-1">
                            <span class="e-avatar e-avatar-large e-avatar-circle text-primary-emphasis bg-body-tertiary">
                                <i class="e-icons e-group-icon fs-5 fw-medium"></i>
                            </span>
                            <h2 class="fs-4 fw-bolder lh-sm text-truncate mt-3">Coastal Towns</h2>
                            <p class="fs-6 my-2">Explore picturesque coastal towns with charming streets, beautiful beaches, and vibrant local culture. Relax by the shore, enjoy fresh seafood.</p>
                        </div>
                        <div class="e-card-actions">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <div class="position-relative px-5 py-4">
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute start-0 top-0" style="background-image: url(assets/images/common/avatar/avatar-5.jpg);"></span>
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute ms-4 start-0 top-0" style="background-image: url(assets/images/common/avatar/avatar-13.jpg);"></span>
                                    <span class="e-avatar e-avatar-circle e-avatar-large position-absolute ms-5 start-0 top-0 bg-primary text-white">2+</span>
                                </div>
                                <SfRating CssClass="e-small align-self-start" Precision="PrecisionType.Exact" Value="3.5" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
