@page "/header"

@namespace UI_Blocks.Components.Pages.MainSection

<header class="header-content" role="banner">
    <div class="title-container">
        <span class="ui-kit-img">
            <img src="assets/images/sample-browser/ui-kit.png" alt="Essential UI Kit for Blazor Logo" />
        </span>
        <div>
            <div class="title-text">Essential UI Kit</div>
            <div class="platform-text">for Blazor</div>
        </div>
    </div>
    <nav class="header-right" aria-label="Links to Documentation and GitHub Repository">
        <a class="header-link header-text" href="https://blazor.syncfusion.com/documentation/ui-kit/overview" target="_blank" aria-label="Read the Documentation for Essential Studio UI Kit for Blazor" tabindex="0">
            Documentation
        </a>
        <a class="github-logo" href="https://github.com/syncfusion/essential-ui-kit-for-blazor" target="_blank" aria-label="Visit the GitHub Repository for Essential Studio UI Kit for Blazor" tabindex="0">
            <img src="assets/images/sample-browser/github.svg" alt="GitHub Logo" />
        </a>
    </nav>
</header>
